<div class="missionListBody">
    <div class="filterSection">
        <h2>Date selection</h2>   
        <div class="yearsContainer">
            <div *ngFor="let year of yearList">
                <button mat-raised-button color="primary" class="yearbutton" (click)="showListByYear(year)">{{ year }}</button>
            </div>
        </div>
    </div>

    <div class="missionList">
        <mat-card class="missionCard" *ngFor="let mission of missionList">
            <button (click)="showDetails(mission.flight_number)">
                <img mat-card-xl-image [src]="mission.links.mission_patch_small" alt="Mission Patch">
            </button>
            <mat-card-title>{{ mission.mission_name }}</mat-card-title>
            <mat-card-content>
                <p>Year: {{ mission.launch_year || '-' }}</p>
                <p>Details: {{ mission.details || '-' }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    
</div>
