.missionListBody{
    display: flex;
    flex-direction: row;
}

.filterSection{
    width: 250px;
    height: 75vh;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin-right: 10px;

}
.yearsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.yearbutton{
    width: 25%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.missionList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}

.missionCard{
    width: 20%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

