<div *ngIf="mission">
  <div class="detailPage">
    <h1>Mission Details</h1>

    <mat-card class="detailContent">

      <div class="detailBody">

        <div *ngIf="mission.links">
          <img mat-card-xl-image [src]="mission.links.mission_patch_small" alt="Mission Patch" />
        </div>

        <div>
          <mat-card-title>Mission - {{ mission.mission_name }}</mat-card-title>
          <mat-card-content>
            <p>Launch Year: {{ mission.launch_year }}</p>
          </mat-card-content>

          <mat-card-subtitle>Rocket</mat-card-subtitle>
          <mat-card-content *ngIf="mission.rocket">
            <p>Name: {{ mission.rocket.rocket_name }}</p>
            <p>Type: {{ mission.rocket.rocket_type }}</p>
          </mat-card-content>

          <mat-card-subtitle>Launch Site</mat-card-subtitle>
          <mat-card-content *ngIf="mission.launch_site">
            <p>Name: {{ mission.launch_site.site_name_long }}</p>
          </mat-card-content>
        </div>

      </div>

      <mat-card-subtitle>Launch Details</mat-card-subtitle>
      <p *ngIf="mission.details; else elseBlock">{{mission.details}} </p>
      <ng-template #elseBlock> <p>No details available</p> </ng-template>
    </mat-card>
    
  </div>
</div>
